.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: #f2f2f2;
  padding: 30px;
  border-radius: 15px;
  width: 80%;
  max-width: 600px;
  height: auto;
  max-height: 80%;
  overflow: auto;
  font-family: "Inter", sans-serif; /* Apply Inter font style */
}

.modal-content {
  position: relative;
  margin: 0 auto;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #333;
}

.horizontal-line {
  margin: 20px 0;
  border-top: 1px solid #ccc;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5rem; 
  color: #333; 
}

.description {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.date-time {
  margin-bottom: 10px;
}

.host {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  float: right;
}

.time {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
}

.date {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  clear: left;
}
